<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adele</title>
    <link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body>
    <div id="mobile-menu"></div>
    <div id="page">
        <header class="header-section">
    <div class="header-section_menu">
        <div class="header-section_logo">
            <img src="assets/images/logo.svg" alt="supplement">
            <span>Supplement</span>
        </div>
        <button id="hamburger" class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <div class="header-section_call-to-action">
        <h1 class="header-section_header"><span class="accent">Do it now</span>Or You Never Get it Back</h1>
        <p class="header-section_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
        <div class="header-section_buttons">
            <a href="#" class="button" tabindex="0">Order now</a>
            <a href="#" class="header-section_video-link" tabindex="0">Watch the video <i class="fa fa-play-circle-o"></i></a>
        </div>
    </div>
    <div class="header-section_showcase">
        <div class="header-section_bottles-wrapper">
            <img src="assets/images/bottles.png" alt="bottles">
        </div>
    </div>
</header>
<section class="facts-section">
    <div class="facts-section_background">
        <div class="facts-section_container">
            <div class="facts-section_bottle">
                <img src="assets/images/bottle.png" alt="bottle">
            </div>
            <div class="facts-section_facts-wrapper">
                <ul class="facts-section_facts">
                    <li class="fact">
                        <div class="fact_number">100</div>
                        <div class="fact_units">mg</div>
                        <div class="fact_caption">Per Capsule</div>
                    </li>
                    <li class="fact">
                        <div class="fact_number">60</div>
                        <div class="fact_units">capsules</div>
                        <div class="fact_caption">Per Bottle</div>
                    </li>
                    <li class="fact">
                        <div class="fact_number">900</div>
                        <div class="fact_units">plus</div>
                        <div class="fact_caption">Satisfied Customers</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="features-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Features</span>We offer</h2>
        <p>
            Don’t forget to check these real success.
        </p>
    </div>
    <div class="features-section_container">
        <div class="features-section_feature">
            <div class="accent">
                Increased energy
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_feature">
            <div class="accent">
                Bone builder
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_feature">
            <div class="accent">
                Weight loss
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_feature">
            <div class="accent">
                Stress release
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_image-wrapper">
            <img src="assets/images/customers.png" alt="customers">
        </div>
    </div>
</section>
<section class="results-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Real man</span>Real results</h2>
        <p>
            Don’t forget to check these real success.
        </p>
    </div>
    <div class="results-section_container">
        <div class="results-section_glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <img class="img-before" src="assets/images/man-before.jpg" alt="man before">
                        <img class="img-after" src="assets/images/man-after.jpg" alt="man after">
                        <div class="result-description">
                            <div class="result-description_weight">
                                <div class="result-description_value">
                                    <span class="result-description_number">87</span> kg
                                </div>
                                <div class="result-description_caption">
                                    Before
                                </div>                            
                            </div>
                            <div class="result-description_weight">
                                <div class="result-description_value">
                                    <span class="result-description_number">63</span> kg
                                </div>
                                <div class="result-description_caption">
                                    After
                                </div>                            
                            </div>
                            <div class="result-description_persons-info">
                                <div class="result-description_name">Mike Anderson</div>
                                <div class="result-description_age">Age: 28</div>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <img class="img-before" src="assets/images/man-before.jpg" alt="man before">
                        <img class="img-after" src="assets/images/man-after.jpg" alt="man after">
                        <div class="result-description">
                            <div class="result-description_weight">
                                <div class="result-description_value">
                                    <span class="result-description_number">87</span> kg
                                </div>
                                <div class="result-description_caption">
                                    Before
                                </div>                            
                            </div>
                            <div class="result-description_weight">
                                <div class="result-description_value">
                                    <span class="result-description_number">63</span> kg
                                </div>
                                <div class="result-description_caption">
                                    After
                                </div>                            
                            </div>
                            <div class="result-description_persons-info">
                                <div class="result-description_name">Mike Anderson</div>
                                <div class="result-description_age">Age: 28</div>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <img class="img-before" src="assets/images/man-before.jpg" alt="man before">
                        <img class="img-after" src="assets/images/man-after.jpg" alt="man after">
                        <div class="result-description">
                            <div class="result-description_weight">
                                <div class="result-description_value">
                                    <span class="result-description_number">87</span> kg
                                </div>
                                <div class="result-description_caption">
                                    Before
                                </div>                            
                            </div>
                            <div class="result-description_weight">
                                <div class="result-description_value">
                                    <span class="result-description_number">63</span> kg
                                </div>
                                <div class="result-description_caption">
                                    After
                                </div>                            
                            </div>
                            <div class="result-description_persons-info">
                                <div class="result-description_name">Mike Anderson</div>
                                <div class="result-description_age">Age: 28</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]"></div>
        </div>
    </div>
</section>
<section class="testimonials-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Client</span>Testimonials</h2>
        <p>
            Don’t forget to check these real success.
        </p>
    </div>
    <div class="testimonials-section_glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <p class="testimonials-section_testimonial-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                        Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                    </p>
                    <div class="testimonials-section_testimonial-author">
                        <svg style="width: 90px;" viewBox="0 0 1 1">
                            <image class="clip-svg" xlink:href="assets/images/alena-parker.jpg" height="1" width="1" />
                        </svg>
                        <div class="author-info">
                            <p class="author-info_name">Alena Parker</p>
                            <p class="author-info_address">Sydney, Australia</p>
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <p class="testimonials-section_testimonial-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                        Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                    </p>
                    <div class="testimonials-section_testimonial-author">
                        <svg style="width: 90px;" viewBox="0 0 1 1">
                            <image class="clip-svg" xlink:href="assets/images/alena-parker.jpg" height="1" width="1" />
                        </svg>
                        <div class="author-info">
                            <p class="author-info_name">Alena Parker</p>
                            <p class="author-info_address">Sydney, Australia</p>
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <p class="testimonials-section_testimonial-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                        Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                    </p>
                    <div class="testimonials-section_testimonial-author">
                        <svg style="width: 90px;" viewBox="0 0 1 1">
                            <image class="clip-svg" xlink:href="assets/images/alena-parker.jpg" height="1" width="1" />
                        </svg>
                        <div class="author-info">
                            <p class="author-info_name">Alena Parker</p>
                            <p class="author-info_address">Sydney, Australia</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]"></div>
    </div>
</section>
<section class="facts-2-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Supplement</span>Facts</h2>
        <p>
            Don’t forget to check these real success.
        </p>
    </div>
    <div class="ingredients-tabs">
        <div class="ingredients-tabs__controls-wrapper">
            <div class="ingredients-tabs__controls-header">
                <div class="_accent">Ingredients</div>
                <div class="_units"><span class="_caption">Per serving</span><br>(mg)</div>
            </div>
            <ul class="ingredients-tabs__controls">
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Citrus Aurantium <span class="_units">100</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Green Coffee Extract <span class="_units">72</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Green Tea Extract <span class="_units">88</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Guarana Extract w/ 10% Caffeine <span class="_units">5</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">L-Phenylalanine <span class="_units">67</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Niacin <span class="_units">87</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Red Pepper Extract <span class="_units">323</span></span>
                    </button>
                </li>
                <li class="ingredients-tabs__button-wrapper">
                    <button class="ingredients-tabs__button"> 
                        <span class="ingredients-tabs__button-content">Vitamin B6 <span class="_units">8</span></span>
                    </button>
                </li>
            </ul>
            <a href="#" class="button" tabindex="0">download scpecs <span class="_size">(50kb)</span></a>
        </div>
        <div class="ingredients-tabs__tab-wrapper">
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Citrus Aurantium
                    </div>
                    100 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Green Coffee Extract
                    </div>
                    72 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Green Tea Extract
                    </div>
                    88 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Guarana Extract w/ 10% Caffeine
                    </div>
                    5 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        L-Phenylalanine
                    </div>
                    67 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Niacin
                    </div>
                    87 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Red Pepper Extract
                    </div>
                    323 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
            <div class="ingredients-tabs__tab">
                <svg style="height: 115px;" viewBox="0 0 1 1">
                    <image class="clip-svg" xlink:href="assets/images/green-coffee-extract.jpg" height="1" width="1" />
                </svg>
                <div class="ingredients-tabs__description-header">
                    <div class="_accent">
                        Vitamin B6
                    </div>
                    8 mg
                </div>
                <p class="ingredients-tabs__description-text">
                    Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="certifications-section">
    <div class="certifications-section__header">
        <h2>Certifications</h2>
        <p>We don't sell craps. We're sertificated</p>
    </div>
    <div class="certifications-section__sertificates">
        <div class="certifications-section__logo-wrapper"><img src="assets/images/cer-1.png" alt="cer 1"></div>
        <div class="certifications-section__logo-wrapper"><img src="assets/images/cer-2.png" alt="cer 2"></div>
        <div class="certifications-section__logo-wrapper"><img src="assets/images/cer-3.png" alt="cer 3"></div>
        <div class="certifications-section__logo-wrapper"><img src="assets/images/cer-4.png" alt="cer 4"></div>
        <div class="certifications-section__logo-wrapper"><img src="assets/images/cer-5.png" alt="cer 5"></div>
    </div>
</section>
<section class="buynow-section">
    <div class="buynow-section__supplement-img-wrapper">
        <img class="buynow-section__supplement-img" src="assets/images/supplement.png" alt="supplement">
    </div>
    <div class="buynow-section__call-to-action">
        <div class="buynow-section__header">
            <div class="_accent">A supplement</div>
            <div class="_cost">$29 usd</div>
        </div>
        <p class="buynow-section__text">Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet.</p>
        <a href="#" class="button" tabindex="0">Order now</a>
    </div>
</section>
<section class="subscribe-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Subscribe</span>for tips & Offers</h2>
        <p>
            We regularly knock our customers with useful tips and offers.
        </p>
    </div>
    <div class="subscribe-section__container">
        <div class="subscribe-section__form">
            <input type="text" placeholder="Enter Your Email"/>
            <input type="submit" value="Subscribe">
        </div>
    </div>
</section>
<div class="contact-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Inquire</span>Your issue</h2>
        <p>
            We’re always happy to reply our customers. 
        </p>
    </div>
    <form class="issue-form">
        <input class="issue-form__name" type="text" placeholder="Name"/>
        <input class="issue-form__email" type="text" placeholder="Email"/>
        <input class="issue-form__subject" type="text" placeholder="Subject"/>
        <textarea class="issue-form__issue-text"></textarea>
        <input type="submit" value="Send" class="button">
    </form>
</div>
<footer class="footer-section">
    <div class="footer-section__container">
        <div class="footer-section__main">
            <p class="_copyright">© Amazon LLC. All Rights Reserved</p>
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-section__socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
</footer>
<svg width="0" height="0" style="height: 0; width: 0; position: absolute;">
    <defs>
        <clipPath id="hexagonClip" clipPathUnits="objectBoundingBox">
            <path d="m 0.27570276,0.89127717 c -0.06974,-0.0424 -0.144357,-0.0791 -0.205704,-0.13346 -0.03118,-0.0399 -0.01867,-0.0948 -0.02268,-0.14181 9.64e-4,-0.11049 -0.0037,-0.22129 0.0045,-0.33155 0.0028,-0.0508 0.05644,-0.0711 0.0914,-0.0978 0.108117,-0.0676 0.218,-0.134179 0.335836,-0.183499 0.046,-0.0149 0.08802,0.0252 0.129334,0.0402 0.107342,0.0572 0.215101,0.115499 0.312446,0.188809 0.04111,0.0333 0.02664,0.0932 0.0315,0.13937 -4.41e-4,0.11419 0.004,0.22871 -0.0042,0.34267 -0.0045,0.0559 -0.06491,0.077 -0.104139,0.10562 -0.09925,0.059 -0.198004,0.1196 -0.302185,0.16956 -0.04912,0.0285 -0.100077,-0.007 -0.143628,-0.0292 -0.04126,-0.0222 -0.08188,-0.0456 -0.122498,-0.0689 z"/>
        </clipPath>
    </defs>
</svg>
    </div>
    <script src="assets/js/main.min.js"></script>
</body>
</html>